* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background:url('/assets/img/xbg_4.jpg.pagespeed.ic.jZaRfvTz2Z.webp') fixed no-repeat;
}
/* global */
.sub-heading .text-1 {
    font-family: "Great Vibes", cursive;
    color: #c49b63;
    font-size: 50px;
    line-height: 0;
    font-weight: 300;
    z-index: 2;
}
.sub-heading .text-2 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 45px;
    z-index: 1;
}
.sub-heading span {
    width: 520px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.295);
}
/* active */
.header__nav-bar .active {
    color: #c49b63;
}
/* header */
.header {
    width: 100%;
    height: 90px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    color: #fff;
    position: fixed;
    background-color: #120F0F;
    z-index: 1111111;
}
.header__logo {
    text-align: center;
    line-height: 1;
}
.header__logo h2 {
    font-weight: 400;

}
.header__logo h3 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 4px;
}
.header__nav-bar {

}
.header__nav-bar ul {
    display: flex;
}
.nav-bar__list-item {
    font-weight: 400;
    padding: 0 20px;
}
.nav-bar__list-item:hover .nav-bar__link-item {
    color: #c49b63;
    transition: 0.3s ease-in;
}
.nav-bar__link-item {
    color: #fff;
    font-size: 14px;
}



/* container */
.container {

}
.container__introduction .picture  {
    background:  url('/assets/img/xbg_3.jpg.pagespeed.ic.vezfjy4tUK.webp') top center / cover no-repeat fixed;
    height: 700px;
    position: relative;
    padding-top: 90px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .3;
}
.container__introduction .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}
.content span {
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    color: #ac8959;
}
.content h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    
}
.content a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.322);
    padding-bottom: 1.5px ;
    margin-right: 5px;
}
.content p {
    /* padding: 20px 0; */
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.589);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.322);
}

.btn a {
    font-size: 14px;
}
.btn {
    display: inline-block;
    padding: 15px 20px ;
    border: 1px solid rgba(255, 255, 255, 0.548);
    text-align: center;
}
.btn:hover a {
    color: #000;
}
.btn:hover {
    background-color: #C49B63;
    transition: all 0.3s;
    cursor: pointer;
    transform: scale(1.01);
}
/* contact */
.container__contact {
    color: #fff;
    background-color: #000;
    display: flex;
    /* justify-content: ; */
    padding-left: 200px;
    position: relative;
}
.contact-section {
    width: 250px;
    position: relative;
}
 .contact-section i {
    /* display: inline-block; */
    /* background-color: rgb(42, 2, 88); */
    position: absolute;
    top: 5px;
    left: -20px;
    transform: translate(0px, 15px);
    color: #c49b63;
} 
.contact-section .text {
    display: inline-block;
    padding: 15px 25px;
}
.contact-section .text p {
    margin-bottom: 10px;
}
.contact-section .text span {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.322);
}
/* booktable */
.booktable {
    background-color: #C49B63;
    position: absolute;
    width: 530px;
    height: 300px;
    right: 0;
    bottom: 0;
    padding: 20px;
}
#firtname {
    margin-right: 30px;
}
#firtname, #lastname,#message {
    width: 215px;
}
#date, #time ,#phone {
    width: 130px;
}
#time {
    margin: 0 30px;
}
.booktable h3 {
    margin-bottom: 10px;
}
.booktable input , #message {
    background-color: inherit;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.212);
    color: #fff;
    padding: 25px 0;
    font-size: 13px;
    color: #fff;
}
.booktable input::placeholder {
    color: #fff;
}
.booktable input::marker {
    background-color: #fff;
}
.booktable .btn {
    position: absolute;
    background-color: #fff;
    width: 215px;
    margin-left: 30px;
    margin-top: 10px;
}
.booktable .btn:hover {
    background-color: #000;
    color: #fff;
}
.booktable a {
    color: #000;
}
.booktable .btn:hover a {
    color: #fff;

}
/* container__menu */
.container__menu {
    color: #fff;
    margin: 100px;
}
.container__menu .top-menu ,
.container__menu .bottom-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.list-menu {
    margin-left: 10px;
}
.list-menu .about {
    display: flex;
   margin: 25px 0;

}
.list-menu img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: inline-block;
    align-self: center;
}
.list-menu h1 {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;

}
.list-menu .text {
   padding: 0 25px;
}
.list-menu .text span {
    background-color: #120F0F;
    padding-right: 15px;
}
.list-menu .text h3 {
    position: relative;
    color: rgba(255, 255, 255, 0.76);
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    display: inline-block;
    width: calc(100% - 80px);
}
.list-menu .text h3::after {
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    content: '';
    height: 1px;
    border-bottom: 1px dashed #674c27;
    z-index: -1;
}
.list-menu .text .price {
    width: 70px;
    display: inline-block;
    /* text-align: end; */
    text-align: right;
    color: #ac8959;
}
.list-menu .text .decrip {
    color: rgba(255, 255, 255, 0.295);
    padding: 10px 0;
}


/* container__end */
.container__end {
    color: #fff;
    display: flex;
    justify-content: center;
    background: #120F0F;
    padding: 100px 25px;
}
.col{
    /* width: 20%; */
    margin-right: 40px;
}
.col h1 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 30px;
}
.col span {
    color: rgba(255, 255, 255, 0.452);
    font-weight: 300;
    display: inline-block;
    width: 250px;
}
.col .network {
    padding-top: 55px;
}
.col .network i {
    background-color: #9c9c9c15;
    font-size: 25px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 5px;
}
.col .sub-col {
    /* display: flex; */
}
.container__end .recent-blog {
    display: flex;
}
.container__end .recent-blog img {
    width: 80px;
    height: 80px;
}
.container__end .recent-blog .text {
    font-size: 14px;
    padding: 0 25px;
}
.container__end .recent-blog .text h4 {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.904);
    cursor: pointer;
}
.container__end .recent-blog .text h4:hover {
    color: #ac8959;
    transition: all 0.3s ease-in;
}
.container__end .recent-blog .text p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.356);
    padding: 10px 0;
}
.container__end .recent-blog .text i {
    font-weight: 300;
    cursor: pointer;
    margin-right: 5px;
}
.recent-blog .text i::before {
    /* content: ""; */
    padding-right: 5px;
}
.col li  {
    padding-bottom: 15px;
}
.col li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.555);
    font-weight: 300;
}
.col li a:hover {
    color: #fff;
    transition:all 0.3s ease-in;
}
.col .sub-div {
    display: flex;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.795);
}
.col .sub-div i {
    padding: 5px;
}
.col .sub-div p {
    padding-left: 15px;
}
/* container__products */
.container__products, .container__customers {
    color: #fff;
    text-align: center;
    margin: 100px 0;
}
.container__products .sub-heading span {
    width: 520px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.295);
}
.products .menu {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 40px;
}
.products .menu .sub-menu {
    color: #c49b63;
    border-bottom: 2px solid #c49b63;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}
.products #active {
    background-color: #c49b63;
    color: #000;
}
.products .menu .sub-menu:hover {
    background-color: #c49b63;
    color: #000;
    transition: 0.2s ease-in;
}
.products .menu-2 {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.menu-2 .decrip-menu {
    width: 330px;
    margin-right: 30px;
}
.menu-2 .decrip-menu > a {
    display: inline-block;
    width: 330px;
    height: 270px;
}
.menu-2 .decrip-menu img {
    width: 100%;
    height: inherit;
}
.menu-2 .menu-text {
    padding: 15px 0;
    font-weight: 300;
}
.menu-2 .menu-text .name-food, .price-food {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 1px;
}
.menu-2 .menu-text span {
    padding: 15px;
    display: inline-block; 
    color: rgba(255, 255, 255, 0.384)
}
.menu-2 .price-food {
    margin-bottom: 15px;
}
.product-coffe .btn, .menu-text .btn {
    padding: 5px 15px;
    font-size: 14px;
    border: 1px solid #c49b63;
}
.product-coffe .btn a, .menu-text .btn a {
    color: #c49b63;
}
.product-coffe .btn a, .menu-text .btn:hover a{
    color: #fff;
}

/* dfooter */

.footer {
    background: #120F0F;
    color: rgba(255, 255, 255, 0.795);
    text-align: center;
    height: 200px;
}


/* sub nav */
.nav-bar__list-item ul {
    position: absolute;
    background-color: #120F0F;
    /* display: block; */
    padding: 0 15px;
    margin-top: 5px;
    border-bottom: 10px solid #000;
    border-top: 10px solid #000;
    width: 150px;
    display: none;
}
.nav-bar__list-item ul li {
    padding: 5px 0;
    cursor: pointer;
}
.nav-bar__list-item ul li  a{
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.nav-bar__list-item ul li:hover a {
    color: #fff;
    transition: all 0.3s ease-in;
}
.nav-bar__list-item:hover #sub-nav{
    display: block;
}
#sub-nav {
    /* display: block; */
}
/* blog */
.container__blog {
    
    margin-top: 100px;
}
.heading-blog {
    color: #fff;
    text-align: center;
}
.heading-blog h1 {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
}
.heading-blog span {
    display: inline-block;
    color: rgba(255, 255, 255, 0.295);
    padding: 25px 0;
    width: 520px;
}
.decrip-blog {
    display: flex;
    justify-content: center;
}
.decrip-blog .blog {
    width: 350px;
    margin: 45px 15px;
}
.decrip-blog .blog > a {
    display: inline-block;
    height: 300px;
}
.decrip-blog .blog a img {
    width: 100%;
    height: 100%;
}
.decrip-blog .text {
    padding: 15px 0;
}
.decrip-blog .text span{
    color: rgba(255, 255, 255, 0.356);
}
.decrip-blog .text a {
    display: inline;
    color: rgba(255, 255, 255, 0.356);

}
.decrip-blog .text a:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in;
}
.decrip-blog .text .name {
    display: block;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.decrip-blog .text .name:hover {
    color: #c49b63;
    opacity: 1;
    transition: all 0.3s ease-in;
}
.decrip-blog .text .admin {
    padding: 0 10px;
}
.decrip-blog .text .chat i {
    padding-right: 3px;
    color: rgba(255, 255, 255, 0.808);
}
.decrip-blog .text span {
    display: inline-block;
}

.container__blog .text-center {
    color: #ac8959;
    text-align: center;
    margin-bottom: 100px;
} 
.container__blog .text-center .text {
    border: 1px solid #ac8959;
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: auto 0;
    border-radius: 50px;
    cursor: pointer;
}
.container__blog .text-center .text p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container__blog .text-center .active {
    background-color: #ac8959;
    color: #fff;
}